* {
	font-family: 'Inconsolata', monospace;
	margin: 0 auto;
	max-width: 1140px;
}

.blue-color {
	color: #1100ff;
}

br {
	padding: 10px;
}

.header {
	padding: 40px 0px 40px 0px;
}

#name {
	color: black;
	text-decoration: none;
	display:block;
}

#div-nav-items {
	display: inline;
}

#ul-nav-items li {
	display: inline;
}

#div-proj-items {

}

#ul-proj-items, #ul-serv-items {
	list-style-type: none; 
}

.contact-form-wrapper {
	text-align: center; 
}

#fsubject {
	width: 610px;
	height: 150px;
	display: inline;
}

#fname, #femail {
	width: 300px;
	display: inline;
}

#fsubmit {
	outline: none;
	border-radius: 30px;
	background-color: white;
	color: blue;
}